In [1]:
# 1. Introduction to Kaggle
# --- Torch ---
import numpy as np

test_t  = np.genfromtxt('KaggleData/kaggle_test.csv', delimiter=",")
print(test_t.shape)

train_t = np.genfromtxt('KaggleData/kaggle_train.csv', delimiter=",")
print(train_t.shape)

In [1]:
# --- Kaggle ---
import pandas as pd

test = pd.read_csv("KaggleData/test.csv")
test_shape = test.shape
print(test_shape)

train = pd.read_csv("KaggleData/train.csv")
train_shape = train.shape
print(train_shape)

(418, 11)
(891, 12)

In [2]:
train.head(2)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Ticket</th>
      <th>Fare</th>
      <th>Cabin</th>
      <th>Embarked</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>Braund, Mr. Owen Harris</td>
      <td>male</td>
      <td>22.0</td>
      <td>1</td>
      <td>0</td>
      <td>A/5 21171</td>
      <td>7.2500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>Cumings, Mrs. John Bradley (Florence Briggs Th...</td>
      <td>female</td>
      <td>38.0</td>
      <td>1</td>
      <td>0</td>
      <td>PC 17599</td>
      <td>71.2833</td>
      <td>C85</td>
      <td>C</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:

def process_age(df,cut_points,label_names):
    df["Age"] = df["Age"].fillna(-0.5)
    df["Age_categories"] = pd.cut(df["Age"],cut_points,labels=label_names)
    return df

cut_points = [-1,0, 5, 12, 18, 35, 60, 100]
label_names = ["Missing", 'Infant', "Child", 'Teenager', "Young Adult", 'Adult', 'Senior']

train = process_age(train, cut_points, label_names)
test  = process_age(test,  cut_points, label_names)

In [4]:
def create_dummies(df,column_name):
    dummies = pd.get_dummies(df[column_name],prefix=column_name)
    df = pd.concat([df,dummies],axis=1)
    return df

def prepare_data(train, test):
    train = create_dummies(train,"Pclass")
    train = create_dummies(train,"Sex")
    train = create_dummies(train,"Age_categories")
    
    test = create_dummies(test,"Pclass")
    test = create_dummies(test,"Sex")
    test = create_dummies(test,"Age_categories")
    
    return train, test

In [5]:
columns = ['Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female', 'Sex_male',
       'Age_categories_Missing','Age_categories_Infant',
       'Age_categories_Child', 'Age_categories_Teenager',
       'Age_categories_Young Adult', 'Age_categories_Adult',
       'Age_categories_Senior']

In [6]:
train, test = prepare_data(train, test)
train.head(2)  # TODO why it doesn't work?

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Ticket</th>
      <th>Fare</th>
      <th>...</th>
      <th>Pclass_3</th>
      <th>Sex_female</th>
      <th>Sex_male</th>
      <th>Age_categories_Missing</th>
      <th>Age_categories_Infant</th>
      <th>Age_categories_Child</th>
      <th>Age_categories_Teenager</th>
      <th>Age_categories_Young Adult</th>
      <th>Age_categories_Adult</th>
      <th>Age_categories_Senior</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>Braund, Mr. Owen Harris</td>
      <td>male</td>
      <td>22.0</td>
      <td>1</td>
      <td>0</td>
      <td>A/5 21171</td>
      <td>7.2500</td>
      <td>...</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>Cumings, Mrs. John Bradley (Florence Briggs Th...</td>
      <td>female</td>
      <td>38.0</td>
      <td>1</td>
      <td>0</td>
      <td>PC 17599</td>
      <td>71.2833</td>
      <td>...</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>2 rows × 25 columns</p>
</div>

In [29]:
from sklearn.model_selection import train_test_split

all_X = train[columns]
all_y = train['Survived']

train_X, test_X, train_Y, test_Y = train_test_split(all_X, all_y, test_size=0.2)

In [35]:
# --- Pandas to Torch ---
import torch as th
import torch.utils.data

print('---> train_X:', train_X.shape)
print('---> train_Y:', train_Y.shape)
print('---> test_X:', train_X.shape)
print('---> test_Y:', train_Y.shape)

train_X_t = th.tensor(train_X.values)
train_Y_t = th.tensor(train_Y.values)

test_X_t  = th.tensor(test_X.values)
test_Y_t  = th.tensor(test_Y.values)

print('---> train_X_t:', train_X_t.shape)
print('---> train_Y_t:', train_Y_t.shape)
print('---> test_X_t:', train_X_t.shape)
print('---> test_Y_t:', train_Y_t.shape)

---> train_X: (712, 12)
---> train_Y: (712,)
---> test_X: (712, 12)
---> test_Y: (712,)
---> train_X_t: torch.Size([712, 12])
---> train_Y_t: torch.Size([712])
---> test_X_t: torch.Size([712, 12])
---> test_Y_t: torch.Size([712])

In [48]:
# *********** Create the model **********
from torch import nn
from collections import OrderedDict

model = nn.Sequential(OrderedDict([
    ('fc1',  nn.Linear(12, 4)),
    ('relu', nn.ReLU()),
    ('drop', nn.Dropout(p=0.2)),
    ('fc2',  nn.Linear(4, 2)),
    ('output', nn.LogSoftmax(dim=1))
]))

In [53]:
def model_learning(obj_model, obj_opt, obj_data, obj_target):
    obj_opt.zero_grad()
    obj_pred = obj_model(obj_data.float())

    print('obj_pred.shape', obj_pred.shape)
    print('obj_target.shape', obj_target.shape)
    obj_loss = ((obj_pred - obj_target)**2).sum()

    obj_loss.backward()
    
    obj_opt.step()

    return obj_loss.data

In [54]:
epochs = 5

for round_iter in range(10):
    print('round_iter:', round_iter)
    
    loss = th.FloatTensor
    opt  = th.optim.SGD(params=model.parameters(), lr=0.1)
    
    for i in range(10):
        
        for e in range(epochs):
            print('train_X_t.shape', train_X_t.shape)
            print('train_Y_t.shape', train_Y_t.shape)
            loss = model_learning(model, opt, train_X_t, train_Y_t)
            print('Loss {}/{}: {}'.format(i, e, loss))
        else: 
            with th.no_grad():
                model.eval()
                test_loss = 0
            
                for d, t in zip(test_X_t, test_Y_t):
                    logps = model(d)
                    test_loss = ((obj_pred - obj_target)**2).sum()
                    #loss = criterion(logps, labels)
                    #test_loss += loss.item()
    
                    print('Test loss:', test_loss.data)
            model.train()

round_iter: 0
train_X_t.shape torch.Size([712, 12])
train_Y_t.shape torch.Size([712])
obj_pred.shape torch.Size([712, 2])
obj_target.shape torch.Size([712])

RuntimeError: The size of tensor a (2) must match the size of tensor b (712) at non-singleton dimension 1